{% extends "base.html" %} {% block content %}

<head>
  <title>Page Not Found</title>
  <meta charset="UTF-8">
  <meta name="description" content="EECS485 P1 404 page">
</head>

<header>

</header>

<body>
  <h1 style="text-align: center;"><pre>                                   
                                   
    .---.     .----.       .---.   
   / .  |    /  ..  \     / .  |   
  / /|  |   .  /  \  .   / /|  |   
 / / |  |_  |  |  '  |  / / |  |_  
/  '-'    | '  \  /  ' /  '-'    | 
`----|  |-'  \  `'  /  `----|  |-' 
     `--'     `---''        `--'   
     </pre></h1>
  <br>
  <p style="text-align: center;"><em>Page not found...</em></p>
</body>

{% endblock %}